<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Anki Cards App</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h1>Anki Cards App</h1>

<mat-sidenav-container fullscreen>


    <mat-nav-list>

      <a mat-list-item routerLink="questions">
        <mat-icon>library_books</mat-icon>
        <span>Questions</span>
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>

    </mat-nav-list>

  <router-outlet></router-outlet>

</mat-sidenav-container>
</body>
</html>
